@import "tailwindcss";

@theme {
  --border: #0000001a;
  --background: #fff;
  --color-muted-foreground: #717182;
  --color-primary-foreground: oklch(1 0 0);
  --color-primary: #030213;
  --radius-md: 8px;
  --color-border: #0000001a;
  --font-size: 16px;
  --color-background: #fff;
  --color-foreground: oklch(.145 0 0);
  --color-card: #fff;
  --color-card-foreground: oklch(.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(.145 0 0);
  --color-primary: #030213;
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(.95 .0058 264.53);
  --color-secondary-foreground: #030213;
  --color-muted: #ececf0;
  --color-muted-foreground: #717182;
  --color-accent: #e9ebef;
  --color-accent-foreground: #030213;
  --color-destructive: #d4183d;
  --color-destructive-foreground: #fff;
  --color-border: #0000001a;
  --color-input: #0000001a;
  --color-input-background: #fbfbfb;
  --color-switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --color-ring: oklch(.708 0 0);
  --color-chart-1: oklch(.646 .222 41.116);
  --color-chart-2: oklch(.6 .118 184.704);
  --color-chart-3: oklch(.398 .07 227.392);
  --color-chart-4: oklch(.828 .189 84.429);
  --color-chart-5: oklch(.769 .188 70.08);
  --radius: .625rem;
  --color-sidebar: oklch(.985 0 0);
  --color-sidebar-foreground: oklch(.145 0 0);
  --color-sidebar-primary: #030213;
  --color-sidebar-primary-foreground: oklch(.985 0 0);
  --color-sidebar-accent: oklch(.97 0 0);
  --color-sidebar-accent-foreground: oklch(.205 0 0);
  --color-sidebar-border: oklch(.922 0 0);
  --color-sidebar-ring: oklch(.708 0 0);
}
